
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


li {
  display: inline;
}
.naslov{
	color: black;
	font-family: Tahoma;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	
}
.kontakt{
	background-color: white;
	font-size:20px;
	font-family: Tahoma;
	font-weight: italic;
	text-align: left-side;
	
}
.bod {
  background-image: url("skola.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 550px 450px;
  
  
}
h2{
	text-align: center;
	
}
.nn{
	font-family:Tahoma;
	font-size:20px;
	
}


