

h1{
    color: red;
}
body{
    background-color: yellow;
}
.provera{
    color: red;
    background-color: blue;
}

#provera{
    color: red;
    background-color: blue;
}

.form{
    color: green;
}

